.Movie-detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    text-align: center;
    align-items: center;
  }
  
  .movie-title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "Montserrat", sans-serif;
  }

  .movie-tagline{
    width: 100%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: large;
    margin-top: 1em;
  }
  
  .Movie-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 8em 0 3em;
    padding: 3em;
    align-self: start;
    font-family: 'Montserrat', sans-serif;
    font-size:medium;
  }

  .Movie-text strong {
    font-weight: bold;
  }
  
  .movie-poster {
    width: 17em;
    margin: 0 8em 0 15em;
    border-radius: 8%;
    border: 3px solid #717d7e;
  }
  
  .detail-button {
    border-radius: 50%;
    margin-left: 7em;
    width: 5em;
    height: 5em;
    background: transparent;
    font-size: 10px;
    padding: 0;
    cursor: pointer;
  }

  .detail-button .icon {
    font-size: 35px; 
  }
  
  .no-image-text{
    margin-top: 2em;
    margin-bottom: 8em;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Playpen Sans", cursive;
  }
  
  .movie-poster-no-image{
    width: 30em;
    margin: 5em 5em 0em 5em;
    border-radius: 8%;
    border: 3px solid #717d7e;
  }