.movie-item {
  width: 15em;
  height: 29em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 3em;
  text-align: center;
  border-radius: 20px;
  background-color: #282c34;
  border: #3c3c3c solid 2px
}

.movie-item:hover {
  background-color: #fffff0;
  color: black;
  width: 16em;
  height: 30em;
}

.poster {
  border-radius: 15%;
  width: 14em;
  height: 19em;
  border: #3c3c3c 2px solid;
}

.poster-default {
  border-radius: 15%;
  width: 11em;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

.date {
  font-family: 'Montserrat', sans-serif;
}
