nav{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 2em;
    background-color: #e6e2e2;
    overflow: hidden;
    padding-bottom: 1.5em;
    padding-top: 0;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

button{
    width: 15em;
    height: 2em;
    font-size: 1em;
    margin: 0;
    background-color: #e6e2e2;
    border: none;
}

button svg {
    transform: scale(1.5);
}

button .icon {
    margin-right: 1em;
}

button:hover::after{
    content: attr(data-text);
}

