* {
  scroll-behavior: smooth;
}
.App {
  min-height: 100vh;
  text-align: center;
}

.main-title{
  color: #fff;
  margin-top: 0;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  text-align: center;
  position: fixed;
  width: 100vw;
  background-color: #0d0e11;
  cursor: pointer;
  z-index: 1000
}

.select-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding-top: 1em;
}
